body {
	margin-top: 50px;
	position: relative;
	overflow-y: scroll;
	height: 100%;
}

#avatar-pic {
  max-width: 40%;
  max-height: 40%;
  display: table-cell;
  text-align: center;
  float: right;
  padding: 1px;
  border: 2px solid black;
}

#myname {
	margin-bottom: 60px;
}

#about {
	margin-bottom: 100px;
}

#portfolio {
	margin-bottom: 100px;
}

.img-thumbnail {
	margin-left: 5%;
	margin-top: 50px;
}